@font-face {
  font-family: 'Blinker';
  font-style: normal;
  src: local('Blinker'), url(./fonts/Blinker/Blinker-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 700;
  src: local('Blinker'), url(./fonts/Blinker/Blinker-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Italic.ttf) format('truetype');
}



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*,
*:before,
*:after{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

/* h1, h2, h3, h4, h5{
  font-family: 'Blinker';
  font-weight: 700;
} */